/* mainProf.css */

body {
	background-color: #efefef;
}

.anchor {
	padding-top: 120px;
}

/* =============================
   ======= Header style ======== 
   ============================= */

.fixed-top {
	position: fixed;
	top: 0;
	width: 100%;
}

.nav {
	background-color: #e6e6e6;
	height: 120px;
	padding-top: 0px;
}

.nav a {
  color: #5a5a5a;
  font-family: 'Cousine', ;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 4px;
  text-transform: uppercase;
}

.nav a.name {
	padding-top: 0px;
	padding-left: 50px;
	font-family: 'Cousine', ;
	font-size: 25px;
	font-weight: bold;
	text-transform: normal;
}

.nav li {
  font-family: 'Cousine', ;
  display: inline;
}

.nav li.name {
	padding-top: 0px;
	padding-left: 50px;
	font-size: 25px;
	font-weight: bold;
}

.nav ul {
	display: inline;
}

.logo {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding-top: 0px;
    display: inline-block;
}

.logo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* ============================
   ======= nav menu ======== 
   ============================ */

.btn-group .buttonN {
    background-color: #efefef; /* Grey */
    border: none;
    color: #555555;
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    /*margin: 4px 2px; */
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float: left;
}

.buttonH {
    background-color: #e6e6e6;
    color: black;
    border: 2px solid #e6e6e6;
    width: 120px;
}

.buttonH:hover {
    background-color: #555555;
    color: #efefef;
}


/* ================================
   ======= Jumbotron style ======== 
   ================================ */

#secret {
	background-color: #e6e6e6;
	height: 118px;
}

.jumbotron {
  background-image: url("LogoDesk.svg");
  /* background: #00a7bd; */ /*Teal*/
  /* background: #556b2f; */ /*Olive*/
  background: #cddfea; /*New Blue*/
  /* height: 350px; */
  height: 145px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .aainer {
  position: relative;
  top:100px;
  
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Cousine', ;
  /* font-family: 'Shift', sans-serif; */
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

/* Sections */

.section {
  /* background-image:url('http://goo.gl/04j7Nn'); */
  /* background: #00a7bd; */
  background: #556b2f;
  /* height: 350px; */
  height: 75;
  background-repeat: no-repeat;
  background-size: cover;
}

. section .aainer {
  position: relative;
  top:100px;
  
}

. section h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Cousine', ;
  /* font-family: 'Shift', sans-serif; */
  font-weight: bold;
}

. section p {
  font-size: 20px;
  color: #fff;
}


/* ===========================
   ======= Body style ======== 
   =========================== */

.learn-more {
  background-color: #e6e6e6;
  
}

.learn-more h3 {
  font-family: 'Cousine', ;
  /* font-family: 'Shift', sans-serif; */
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.site-map {
  background-color: #fff;
  
}

.site-map h3 {
  font-family: 'Cousine', ;
  /* font-family: 'Shift', sans-serif; */
  font-size: 18px;
  font-weight: bold;
}

.site-map a {
  color: #00b0ff;
}

.donator-list {
  background-color: #fff;
  
}

.threeColumns {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.threeColumns h2 {
    color: #393c3d;
    font-size: 24px;
}

.threeColumns p {
    font-size: 15px;
    margin-bottom: 13px;
}

.soon li {
	display: inline;
}

/* =============================
   ======= Footer style ======== 
   ============================= */

.footer {
	background-color: #e6e6e6;
	bottom: 0;
}

.footer-info {
	background-color: #e6e6e6;
}

.footer-info a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 0px;
  /* padding: 14px 10px; */
  padding: 1rem;
  text-transform: uppercase;
}

.footer-info li {
  display: inline;
}

.footer-info .pull-left {
	margin-bottom: 0px;
}

/* =============================
   ======= Resume Button ======= 
   ============================= */


.nn {
  display: inline-block;
  border-radius: 4px;
  background-color: #00a7bd;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #00a7bd;
  border: none;
  text-align: center;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttonRes {
	color: #FFFFFF;
	width: 220px;
	font-size: 28px;
	/* z-index: -1; */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  // z-index: -2;
  transition: 0.5s;
}

.button span:after {
  aient: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ==============================
   ======= Test Page Jump ======= 
   ============================== */
   
#test {
	color: #00b0ff;
}